<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Witaj na mojej stronie</h1>

<h2>Add Name:</h2>

<p> Zalogowany: <span th:text="${userLogged}"></span> </p>

<!--<form name="helloPage" method="post" action="/helloPage">-->
<form method="get" th:action="@{/hello}">
     Set Name: <input type="text" name="name"/> <br/>
    <input type="submit" value="Add new Name" />
</form>

<h3 th:text="${date}">2019</h3>

</body>
</html>
